body {
background-color: #171E25;
box-sizing : border-box ;
margin : 0 ;
padding:0px;
font-family: 'Poppins', sans-serif;
}
span {
  color: #b31b1b;
}

.logo {
  float: left;
  color: #BF9341;
  margin-left: 15px;
  margin-top: 10px;
  font-family: 'Square Peg', cursive;
  letter-spacing: 1px;
  font-size:28px;
  transition: tranform .2s linear ;

}
.logo:hover {
transform: scale(1.2);
}
.container {
  width : 500px ;
  height : 500px ;
  background-color: #171E25 ;
position : absolute ;
top : 90px ;
left : 400px;
z-index:-1;

}
 .title h2 {
    text-align: center;
    font-size: 60px;
    color: #BF9341;
    position: absolute;
    top: 0px;
    left: 460px;
    transform: translate(-20px , -50px);
  font-family: 'Kanit', sans-serif;
  z-index:1;

}
.container form {
  padding : 10px 80px;
}
.container .txt-field {
  position : relative ;
  margin : 25px 0 ;
}
.container .txt-css {
  width: 100%;
  height: 45px;
  border-color: white;
  border-width: 0.1px;
  outline: none;
  background-color: #171E25;
  transition: .2s linear;
  color : #BF9341;
  padding: 10px 0 0 5px;



}
.container label {
  position: absolute;
  top :50% ;
  left : 4px;
  transform : translateY(-50%);
  color: white;
  font-size: 15px ;
  pointer-events : none ;
  opacity : 0.7;
  transition: .2s linear;

}
.txt-field input:focus~label,
.txt-field input:valid~label {
  top: 15px;
  color: #BF9341;
  font-weight: lighter;
  opacity : 100% ;

}

.txt-field input:focus ,
.txt-field input:valid {
  opacity: 100%;
  border : 2px solid #BF9341;
}
.sign-in-btn{
  width: 100%;
  height: 50px;
  background-color: #171E25;
  margin: 10px 0 0 0px;
  border-radius: 200px;
  border-color: white;
  cursor: pointer;
  color: white;
  border-width: 0.1px;
  outline: none;
  transition: transform .2s linear;
}
.sign-in-btn:hover {
transform:scale(1.1);
border : 2px solid #BF9341;
font-size : px;
color :#BF9341;

}
input[value="Sign in"] {
  font-size :18px ;


}
.checkbox {
position :relative ; }

.checkbox p {
position: absolute;
top : -4px ;
left : 30px ;
color : white;
font-size : 13px;
}


.terms {
height : 35px;
width : 10px ;
color: white ;

}
/*zonegeo */
.txt-field select {
  width: 350px;
  height: 60px;
  border-color: white;
  border-width: 0.1px;
  outline: none;
  background-color: #171E25;
  transition: .2s linear;
  color : white;
  padding: 10px 0 0 5px;
}

.txt-field select:focus{
  opacity: 100%;
  border : 2px solid #BF9341;
  color : white;
 
}
.txt-field select:valid{
  color: #BF9341;
 
}

